<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="siirisoft.wscp.uniplugin_video_play">

    <application>

        <activity
            android:name="siirisoft.wscp.uniplugin_video_play.VideoPlayActivity"
            android:theme="@style/Theme.AppCompat.Full"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:screenOrientation="portrait" />

    </application>

</manifest>